CompileFlags:
  Add:
    - -mcpu=18F46J11
    - -fno-short-double
    - -fno-short-float
    - -memi=wordwrite
    - -O0
    - -fasmfile
    - -maddrqual=ignore
    - -xassembler-with-cpp
    - -mwarn=-3
    - -Wa,-a
    - -DXPRJ_default=default
    - -msummary=-psect,-class,+mem,-hex,-file
    - -ginhx032
    - -Wl,--data-init
    - -mkeep-startup
    - -mdownload
    - -mdefault-config-bits
    - -std=c99
    - -gdwarf-3
    - -mstack=compiled:auto:auto:auto
  Remove:
    - -Werror
    - -Wall
    - -Wextra
  CompilationDatabase: .
